@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap');
@import "tailwindcss";

html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100%;
}

/* garante layout flexível */
body {
  display: flex;
  flex-direction: column;
}

/* box sizing universal */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* variáveis */
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}